<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Planner</h1>
  <p>Review your tasks and decide what needs attention first.</p>

  <ion-button expand="block" routerLink="/task-form">
  Add Task
  </ion-button>

  <div class="filter-row">
    <ion-button
      size="small"
      [fill]="currentFilter === 'all' ? 'solid' : 'outline'"
      (click)="setFilter('all')"
    >
      All
    </ion-button>

    <ion-button
      size="small"
      color="danger"
      [fill]="currentFilter === 'overdue' ? 'solid' : 'outline'"
      (click)="setFilter('overdue')"
    >
      Overdue
    </ion-button>

    <ion-button
      size="small"
      color="warning"
      [fill]="currentFilter === 'week' ? 'solid' : 'outline'"
      (click)="setFilter('week')"
    >
      This Week
    </ion-button>

    <ion-button
      size="small"
      color="success"
      [fill]="currentFilter === 'completed' ? 'solid' : 'outline'"
      (click)="setFilter('completed')"
    >
      Completed
    </ion-button>
  </div>

  <ion-card *ngFor="let task of filteredTasks">
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Module:</strong> {{ task.selectedModule }}</p>
      <p><strong>Due Date:</strong> {{ task.dueDate }}</p>
      <p><strong>Priority:</strong> {{ task.priority }}</p>
      <p><strong>Status:</strong> {{ task.status }}</p>

      <ion-chip [color]="task.status === 'Completed' ? 'success' : 'warning'">
        <ion-label>{{ task.status }}</ion-label>
      </ion-chip>

      <ion-button size="small" (click)="toggleTask(task.id)">
        {{ task.status === 'Completed' ? 'Mark as To Do' : 'Mark as Completed' }}
      </ion-button>

      <ion-button size="small" fill="outline" (click)="startReminderSetup(task)">
        Set Reminder
      </ion-button>

    </ion-card-content>
  </ion-card>

  <p *ngIf="filteredTasks.length === 0">No tasks in this view.</p>

  <ion-card *ngIf="activeReminderTask">
  <ion-card-header>
    <ion-card-title>Set Reminder</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <p><strong>Task:</strong> {{ activeReminderTask.title }}</p>

  <ion-datetime
    presentation="date-time"
    [(ngModel)]="selectedReminderDateTime"
  ></ion-datetime>

  <ion-button expand="block" (click)="confirmReminderSetup()">
    Confirm Reminder
  </ion-button>

  <ion-button expand="block" fill="outline" color="medium" (click)="cancelReminderSetup()">
  Cancel
</ion-button>

</ion-card-content>

</ion-card>
  <ion-toast
  [isOpen]="reminderToastOpen"
  [message]="reminderToastMessage"
  duration="2000"
  (didDismiss)="closeReminderToast()"
></ion-toast>

</ion-content>