<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Student Recovery Planner</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <div class="top-nav">
      <ion-button fill="clear" size="small" routerLink="/dashboard"
        >Dashboard</ion-button
      >
      <ion-button fill="clear" size="small" routerLink="/modules"
        >Modules</ion-button
      >
      <ion-button fill="clear" size="small" routerLink="/planner"
        >Planner</ion-button
      >
      <ion-button fill="clear" size="small" routerLink="/progress"
        >Progress</ion-button
      >
      <ion-button fill="clear" size="small" routerLink="/settings"
        >Settings</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Settings</h1>
  <p>Manage app preferences and view basic application information.</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>App Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>App Name:</strong> {{ appName }}</p>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle
          [(ngModel)]="isDarkMode"
          (ionChange)="toggleTheme()"
        ></ion-toggle>
      </ion-item>
      <p><strong>Platform:</strong> {{ platform }}</p>
      <p><strong>Operating System:</strong> {{ operatingSystem }}</p>
      <p><strong>OS Version:</strong> {{ osVersion }}</p>
      <p><strong>Model:</strong> {{ model }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Storage</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Clears all saved modules and task data.</p>
      <ion-button expand="block" color="danger" (click)="clearSavedData()">
        Clear Saved Data
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
